.home-page {
	.filter-section {
		.location {
			width: 145px;
		}
	}
}

.category-wrapper {
	.image {
		width: 30px;
		height: 30px;
	}
}

.filter-section {
	.btn {
		.order-count {
			right: 0;
			bottom: 0;
		}
	}
}
