@media only screen and (min-width: 1600px) {
	.card {
		&.restaurant {
			flex: 0 0 calc(24% - 30px);
		}
	}
}

@media only screen and (min-width: 2000px) {
	.card {
		&.restaurant {
			flex: 0 0 calc(19% - 30px);
		}
	}
}

@media only screen and (min-width: 2160px) {
	.card {
		&.restaurant {
			flex: 0 0 calc(16% - 30px);
		}
	}
}

@media only screen and (max-width: 1300px) {
	.card {
		&.restaurant {
			flex: 0 0 calc(33% - 30px);
		}
	}
}

@media only screen and (max-width: 1100px) {
	.card {
		&.restaurant {
			flex: 0 0 calc(49% - 30px);
		}
	}
}
